# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
-   repo: local
    hooks:
    -   id: uv-compile-requirements
        name: Compile requirements.txt from pyproject.toml
        entry: uv pip compile pyproject.toml -o requirements.txt
        language: system
        files: pyproject.toml
        pass_filenames: false
